@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.home {
  padding-top: 100vh;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(26, 41, 128, 0.9), rgba(179, 21, 194, 0.3)), url("/dist/img/three-women-discuss-over-coffee-and-laptops.jpg"), center top;
  background-size: cover;
  align-items: center;
  text-align: center;
}

.home__name {
  color: red;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.home__name--last  {
  font-weight: 700;
  color: #1a2980 !important;
}

body {
  height: 100vh;
  color: #fff;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  padding: 1rem;
  z-index: 2;
  width: 100%;
}

header .nav {
  background: linear-gradient(90deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
}

header .nav .nav-bar {
  list-style: none;
}

header .nav .nav-bar__item {
  display: inline-block;
  padding: .6rem .7rem;
}

main {
  width: 100%;
  height: 100%;
}

main .social-icons {
  position: fixed;
  padding-bottom: .4rem;
  left: 1rem;
}

main .social-icons a {
  color: #f6f4f4;
  padding: 0.6rem;
  font-size: 1.3rem;
}

main .social-icons a:hover {
  transition: .3s ease-in-out;
  color: #1a2980;
  text-decoration: none;
}

footer {
  font-size: 1rem;
  color: white;
  position: fixed;
  padding: 1rem;
  bottom: .6rem;
  right: 1rem;
  text-align: center;
}
